@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  font-family: 'Roboto', Sans-serif;
}

label {
  font-size: .7rem;
}

input.form-control:focus{
  background-color: #F0F0FF;
}

.error {
  position: absolute;
  color: red;
  font-size: .6rem;
}